{{define "quiz.html"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Quiz.Title }}</title>
    <link rel="stylesheet" href="/src/static/css/style.css">
</head>

<body>
    <main class="container QuizPage">
        <a class="close__button" href="/">X</a>

        <div class="quiz__container">

            <div class="question__container">
                <h4>Question {{ .Step | add1 }}</h4>
                <h3>{{ .Question.Text }}</h3>
            </div>

            <form method="GET" action="/quiz" class="res__container">

                <input type="hidden" name="type" value="{{ .QuizType }}">

                <input type="hidden" name="step" value="{{ .NextStep }}">

                <input type="hidden" name="score" value="{{ .Score }}">

                {{range $i, $c := .Question.Choices}}
                <button type="submit" name="answer" value="{{$i}}" class="choise__btn">
                    {{$c}}
                </button>
                {{end}}

            </form>
        </div>
    </main>
</body>

</html>
{{end}}
