@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: auto;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header .container nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}