@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --main-color: #5266c2;
    --sec-color: #52c281;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    background-image: linear-gradient(rgba(0, 174, 255, 0.1), rgba(13, 0, 255, 0.1));
}

.container {
    position: relative;
    max-width: 1250px;
    margin: auto;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

button {
    border: none;
    cursor: pointer;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header .container nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.green {
    color: var(--sec-color);
}

.logo {
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
}

.submit__btn {
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 32px;
    transition: .6s;
    font-size: 1.5rem;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0,0,0,0),
    inset 2px 2px 1px 0 rgba(255, 255, 255, 0.4),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.4);
}

.submit__btn:hover {
    opacity: .8;
    transform: translateY(-3px);
    box-shadow: 3px 3px 2px 2px rgba(50, 50, 50, 0.25),
    inset -0.5px -0.5px 0.5px 0.5px rgb(255, 255, 255, 0.25),
    inset 0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.25);
}

.choise__btn {
    border: 1px solid var(--main-color);
    background: var(--bg-color);
    padding: .5rem 1rem;
    border-radius: 16px;
    transition: .3s;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
    box-shadow: 0 0 0 0 rgb(0, 0, 0, 0);
}

.choise__btn:hover {
    opacity: .9;
    transform: translateY(-3px);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.261);
}

.info__container {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 20px;
}

.close__button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 700;
    font-size: 2rem;
}

.QuizPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

.res__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 30rem;
}

.question__container h4 {
    color: var(--sec-color);
}

.ScorePage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.ScorePage h3 {
    font-size: 2rem;
}

.ScorePage h4 {
    font-size: 1.4rem;
}
